<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<div class="p-3 pt-0">
  <h3 class="is-size-1 mb-2">Register</h3>

    <%= form_with(model: User, url: registration_path) do |form| %>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <%= form.text_field :first_name,
          class: "input",
          required: true,
          autocomplete: "email",
          placeholder: "Enter your first name",
          value: params[:first_name]
        %>
        <span class="icon is-small is-left">
          <i class="far fa-face-grin"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <%= form.email_field :email_address,
          class: "input",
          required: true,
          autocomplete: "email",
          placeholder: "Enter your email address",
          value: params[:email_address]
        %>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <%= form.password_field :password,
          class: "input",
          required: true,
          placeholder: "Enter your password",
          value: params[:password]
        %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <%= form.submit "Sign in", class: "button is-primary" %>
      </p>
    </div>
  <% end %>

  <%= link_to "Log in", new_session_path %>
</div>
